.mobileWarning {
  flex-direction: column;
  background-color: rgb(206, 14, 14);
  color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(187, 18, 18, 0.637);
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(209, 115, 115);
  &[open] {
    display: flex;
  }
}

.closeButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 2px;
  right: 2px;
}

.mobileWarningContent {
  flex-grow: 1;
  text-align: center;
}
.canvasContainer {
  flex-grow: 1;
}
.hidden {
  display: none;
}
