.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: stretch;
  justify-content: stretch;
  width: 100%;
  > button {
    width: auto;
    aspect-ratio: unset;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}

.tracks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.trackLabels,
.visualizers {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  > * {
    width: 50%;
  }
}
.trackHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
