.button {
  display: inline-block;
  padding: var(--button-padding);
  font-size: 1rem;
  color: var(--button-color);
  background-color: var(--button-bg);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  text-align: center;
}

.error {
  --button-bg: var(--error-background);
  --button-bg-hover: var(--error-background);
  --button-border-color: var(--error-foreground);
  --button-color: var(--error-foreground);
}

.button:hover {
  background-color: var(--button-bg-hover);
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  padding: 3px;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  & > svg {
    width: 1em;
    height: 1em;
    color: inherit;
  }
}

.success,
.success:hover,
.success:focus {
  color: var(--success-foreground);
  background-color: var(--success-background);
}
