.button {
  display: inline-block;
  padding: var(--button-padding);
  font-size: 1rem;
  color: var(--button-color);
  background-color: var(--button-bg);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  text-align: center;
}
.button:hover {
  background-color: var(--button-bg-hover);
}
.button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.icon {
  padding: 3px;
  aspect-ratio: 1;
  & > svg {
    width: 18px;
    height: 18px;
    color: inherit;
  }
}

.success,
.success:hover,
.success:focus {
  color: var(--success-foreground);
  background-color: var(--success-background);
}

.error,
.error:hover,
.error:focus {
  color: var(--error-foreground);
  background-color: var(--error-background);
}
