.select {
  appearance: base-select;
}
.select {
  display: inline-block;
  padding: var(--button-padding);
  font-size: 1rem;
  color: var(--button-color);
  background-color: var(--button-bg);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  text-align: center;

  flex: 1;
  transition: 0.4s;
}
.select:hover {
  background-color: var(--button-bg-hover);
}
.select:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
