.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--vscode-editorGutter-background, #fafafa);
  border-right: 1px solid #ffffff66;
}
.sidebarTabs {
  border-top: 1px solid #ffffff66;
  flex-grow: 1;
  display: flex;
}
.tabsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-right: 1px solid #ffffff66;
  height: 100%;
}
.tabItem {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tabButton {
  width: 36px;
  height: 36px;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
.tabButtonActive {
  color: var(--vscode-button-background, #007acc);
}
.tabContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tabTitle {
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 10px 10px 0 10px;
}
.tabPanelInactive {
  display: none;
}
.tabPanelActive {
  display: block;
}

.sidebarScrollable {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}
.sidebarScrollableInner {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 10px;
}
