/* https://code.visualstudio.com/api/references/theme-color */

#app {
  display: flex;
  align-items: flex-start;
}

#controls {
  flex-grow: 1;
  margin-left: 1vw;
}

@media (orientation: portrait) {
  #app {
    flex-direction: column;
  }
  #controls {
    flex-grow: 1;
    margin-left: 0;
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #controls > section {
    width: 50%;
  }
}

#controls > #displays {
  width: 100%;
}

.displays-wrapper {
  background-color: rgba(122, 122, 122, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vmin;
  flex-direction: column;
  overflow: hidden;

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.display {
  border: 1px solid currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vmin;
}

.control-display-iframe {
  border: 1px solid currentColor;
}

.control-display-wrapper {
  width: 100%;
  max-width: 45vmax;
  min-width: 25vmax;
}

.control-display {
  border: none;
  display: block;
  width: 100%;
}
@media (orientation: portrait) {
  .control-display-wrapper {
    margin: auto;
  }
}

a.empty-script {
  text-decoration: dashed;
}
