:root {
  --base-color: #fff;
  --bg-color: #272822;
  --bg-color-alt: #222;
  --text-color: #F8F8F2;
  --text-color-alt: #909083;
  --text-color-contrast: #272822;
  --text-color-disabled: #75715E;
  --yes-color: #A6E22E;
  --no-color: #F92672;
  --value-color: #E6DB74;
  --editable-color: #66D9EF;
  --highlight-color: #A581FF;
  --info-color: #e6db74;
  --border-color: #666;
  --spacing: .5rem;
  --spacing-neg: -0.5rem;
  --tabs-border-width: 2px;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    position: relative;
}
html,
body {
  margin: 0;
  padding: 0;
}

.index-page a,
.index-page a:link,
.index-page a:visited,
.test-page a,
.test-page a:link,
.test-page a:visited {
  color: var(--yes-color);
  text-decoration: none;
  box-shadow: 0 -1px 0 0 var(--bg-color) inset,
              0 -2px 0 0 currentColor inset;
  text-shadow: -3px 1px 0 var(--bg-color),
               3px 1px 0 var(--bg-color),
               -2px 1px 0 var(--bg-color),
               2px 1px 0 var(--bg-color),
               -1px 1px 0 var(--bg-color),
               1px 1px 0 var(--bg-color);
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}
.list-inline {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.list-inline li {
  flex-grow: 1;
  text-align: center;
}

/*
Icons
*/
@font-face {
  font-family: 'vf';
  src: url('font/vf.eot?41117676');
  src: url('font/vf.eot?41117676#iefix') format('embedded-opentype'),
       url('font/vf.woff2?41117676') format('woff2'),
       url('font/vf.woff?41117676') format('woff'),
       url('font/vf.ttf?41117676') format('truetype'),
       url('font/vf.svg?41117676#vf') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'vf';
    src: url('font/vf.svg?92236338#vf') format('svg');
  }
}
*/

[class^="vfi-"]:before, [class*=" vfi-"]:before {
  font-family: "vf";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* you can be more comfortable with increased icons size */
  /*font-size: 120%;*/
  line-height: 1.2;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  vertical-align: inherit;
}

.vfi-play:before { content: '\e800'; } /* '' */
.vfi-stop:before { content: '\e801'; } /* '' */
.vfi-pause:before { content: '\e802'; } /* '' */
.vfi-wrench:before { content: '\e803'; } /* '' */
.vfi-cog-alt:before { content: '\e804'; } /* '' */
.vfi-link:before { content: '\e805'; } /* '' */
.vfi-lock:before { content: '\e806'; } /* '' */
.vfi-lock-open:before { content: '\e807'; } /* '' */
.vfi-clock:before { content: '\e808'; } /* '' */
.vfi-login:before { content: '\e809'; } /* '' */
.vfi-logout:before { content: '\e80a'; } /* '' */
.vfi-trash-empty:before { content: '\e80b'; } /* '' */
.vfi-resize-vertical:before { content: '\e80c'; } /* '' */
.vfi-pencil:before { content: '\e80d'; } /* '' */
.vfi-block:before { content: '\e80e'; } /* '' */
.vfi-cancel:before { content: '\e80f'; } /* '' */
.vfi-ok:before { content: '\e810'; } /* '' */
.vfi-minus:before { content: '\e811'; } /* '' */
.vfi-eye-off:before { content: '\e812'; } /* '' */
.vfi-eye:before { content: '\e813'; } /* '' */
.vfi-plus:before { content: '\e815'; } /* '' */
.vfi-attach:before { content: '\e817'; } /* '' */
.vfi-circle:before { content: '\f111'; } /* '' */
.vfi-gamepad:before { content: '\f11b'; } /* '' */
.vfi-keyboard:before { content: '\f11c'; } /* '' */
.vfi-code:before { content: '\f121'; } /* '' */
.vfi-unlink:before { content: '\f127'; } /* '' */
.vfi-mic:before { content: '\f130'; } /* '' */
.vfi-mute:before { content: '\f131'; } /* '' */
.vfi-minus-squared-alt:before { content: '\f147'; } /* '' */
.vfi-plus-squared-alt:before { content: '\f196'; } /* '' */
.vfi-sliders:before { content: '\f1de'; } /* '' */
.vfi-toggle-off:before { content: '\f204'; } /* '' */
.vfi-toggle-on:before { content: '\f205'; } /* '' */



/*
Form
*/
button,
select,
textarea,
[contenteditable=true],
input:not([type=checkbox]):not([type=radio]) {
  display: inline-block;
  line-height: 1;
  font-size: inherit;
  position: relative;
  color: currentColor;
  border: 1px solid transparent;
  background: transparent;
  margin: 0;
  padding: var(--spacing);
  box-shadow: 0 0 1px 0 currentColor inset;
}
select,
textarea,
[contenteditable=true],
input:not([type=checkbox]):not([type=radio]) {
  color: var(--editable-color);
}
select[disabled],
textarea[disabled],
[contenteditable=true][disabled],
input[disabled]:not([type=checkbox]):not([type=radio]) {
  color: currentColor;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--info-color);
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--info-color);
}
input::placeholder,
textarea::placeholder {
  color: var(--info-color);
}
/*
button:hover,
select:hover,
textarea:hover,
[contenteditable=true]:hover,
input:not([type=checkbox]):hover,
input:not([type=radio]):hover {

}

button:focus,
select:focus,
textarea:focus,
[contenteditable=true]:focus,
input:not([type=checkbox]):focus,
input:not([type=radio]):focus {

}

button:error,
select:error,
textarea:error,
[contenteditable=true].error,
input:not([type=checkbox]):error,
input:not([type=radio]):error {

*/
button {
  border-radius: 0.1em;
  cursor: pointer;
  line-height: 1.2;
}
button[disabled] {
  cursor: not-allowed;
  color: var(--text-color-disabled);
}

button.default {
  background-color: var(--text-color);
  color: var(--text-color-contrast);
}

.yes {
  color: var(--yes-color);
}
.no {
  color: var(--no-color);
}
button.yes,
button.no {
  color: var(--text-color-contrast);
}
button.yes {
  border: 1px solid var(--yes-color);
  background-color: var(--yes-color);
}
button.no {
  border: 1px solid var(--no-color);
  background-color: var(--no-color);
}
input:not([type=radio]):not([type=checkbox]) {
  border-bottom: 1px dashed currentColor;
}

/*
blinking
*/
.blink {
  animation-duration: 1s;
  animation-name: blink;
}
@keyframes blink {
  from {
    box-shadow: 0 0 var(--spacing) var(--spacing) var(--highlight-color) inset;
  }

  to {
    box-shadow: 0 0 0 0 var(--highlight-color) inset;
  }
}

/*
Grid
*/
.rows,
.columns {
  display: flex;
}

.rows > .row,
.columns > .column {
  position: relative;
}

.rows {
  flex-direction: column;
  overflow-x: auto;
}
.row {
  flex-grow: 1;
}

.row.columns {}

.columns {
  flex-direction: row;
  overflow-y: auto;
}
.column {
  flex-grow: 1;
}
.column.rows {}

.no-grow:empty {
  display: none;
}
.row.no-grow,
.column.no-grow {
  flex-grow: 0;
}
.row.grow-l,
.column.grow-l {
  flex-grow: 2;
}
.row.grow-xl,
.column.grow-xl {
  flex-grow: 3;
}

.table {
  display: table;
  table-layout: fixed;
}
.t-row {
  display: table-row;
}
.t-cell {
  display: table-cell;
}

.gutter:not(input) {
  padding: var(--spacing);
}
.gutter-left:not(input) {
  padding-left: var(--spacing);
}
.gutter-top:not(input) {
  padding-top: var(--spacing);
}
.gutter-horizontal:not(input) {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}
.gutter-right:not(input) {
  padding-right: var(--spacing);
}
.gutter-bottom:not(input) {
  padding-bottom: var(--spacing);
}
.gutter-vertical:not(input) {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

input.gutter {
  margin: var(--spacing);
}
input.gutter-left {
  margin-left: var(--spacing);
}
input.gutter-top {
  margin-top: var(--spacing);
}
input.gutter-horizontal {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}
input.gutter-right {
  margin-right: var(--spacing);
}
input.gutter-bottom {
  margin-bottom: var(--spacing);
}
input.gutter-vertical {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.column > input:not([type=checkbox]):not([type=radio]) {
  width: 100%;
}

/*
Layout
*/
.index-page,
.test-page,
.controller-app {
  font-size: 13px;
  font-family: sans;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-weight: 400;
}

.index-page .page-content {
  font-size: 1.2vw;
  max-width: 750px;
  margin: auto;
  padding: 1vw;
  color: var(--text-color);
}
@media (max-width: 1280px) {
  .index-page .page-content {
    font-size: 15.5px;
  }
}

.index-page hr {
  height: 0;
  border-color: var(--text-color-disabled)
}
.index-page pre:first-child {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 10px;
  color: var(--highlight-color);
}
.index-page pre:first-child > code {
  display: inline-block;
  margin: auto;
  text-align: left;
}

.index-page h1,
.index-page h2,
.index-page h3,
.index-page h4,
.index-page h5 {
  margin-top: 1.3em;
  font-weight: 100;
  color: var(--text-color);
}

.controller {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: sans;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.controller a,
.controller a:link,
.controller a:visited {
  color: var(--yes-color);
}

.region-right {}

.region-right-top {}

.region-right-bottom {}

.region-left {}

.region-left-top {}

.region-left-bottom {
}

.region {
  display: flex;
  flex-direction: column;
}
.region > .region-tabs {
}

.region > .region-content {  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.code-editor > header {
  flex-grow: 0;
}
.code-editor .ace-editor {
  overflow: hidden;
  height: calc(100% - 37px);
}

.tabs {
  padding: 0;
  margin: 0 0 var(--tabs-border-width) 0;
  box-shadow: 0 var(--tabs-border-width) 0 0 var(--border-color),
              0 0 var(--spacing) 0 rgba(200,200,200,0.2) inset;
  background-color: rgba(122,122,122,0.1);
}
.tabs > li {
  float: left;
  cursor: pointer;
  margin: var(--tabs-border-width) var(--spacing) 0 var(--spacing);
  box-shadow: 0 0 0 0 var(--border-color),
              0 0 var(--spacing) 0 rgba(0,0,0,1) inset;
  background-color: var(--bg-color);
  transition: box-shadow 0.218s ease;
}

.tabs > li div {
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}
.tabs > li:last-child {
  margin-right: 0;
}
.tabs > li:hover {
  box-shadow: 0 var(--tabs-border-width) 0 0 var(--info-color),
              0 0 var(--spacing) 0 rgba(0,0,0,1) inset;
}
.tabs > li.active {
  cursor: default;
  box-shadow: 0 var(--tabs-border-width) 0 0 var(--highlight-color),
              0 0 var(--spacing) 0 rgba(0,0,0,1) inset;
}



.default-layer-control {}

.canvas-control .new-layer,
.canvas-control .layers > .items {
  background-color: var(--bg-color);
}
.canvas-control .new-layer,
.canvas-control .layers > .items {
  margin-left: var(--spacing);
}
.canvas-control .layers > .items {
  border-left: 1px solid var(--text-color-disabled);
}
.canvas-control .layers {
  border-bottom: 1px solid var(--text-color-disabled);
}

.header {
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
}

.header .column {
  overflow-y: hidden;
}

.controller > .body > div:first-child {
  width: 50%;
  max-height: 100%;
  border-right: 1px solid var(--border-color);
}
.controller > .body > div:last-child {
  border-left: 1px solid var(--border-color);
}

.debug {
  min-width: 400px;
  border-top: 1px solid var(--border-color);
  flex-grow: 2;
}

.settings {
  max-width: 50%;
  min-width: 480px;
}
.settings > .columns > .column {
  width: 100%;
  min-height: 30px;
  min-width: 200px;
}

/*
MIDI
*/
.midi-access {
  font-family: monospace;
}

.midi-inputs,
.midi-outputs {}

.midi-inputs {}
.midi-outputs {}

.midi-access ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.midi-access li.active {
  background-color: var(--highlight-color);
}

/*
Canvas layer controls
*/
.section-name {
  text-transform: uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.signal,
.canvas-layer,
.mappings-view .items {
  border-top: 1px solid var(--text-color-disabled);
  border-bottom: 1px solid var(--bg-color);
  margin-bottom: 0;
}
.row.layers {
  border-right: 1px solid var(--text-color-disabled);
}

.signal:last-child,
.canvas-layer:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.signal:hover,
.canvas-layer:hover {
}

section {
  box-shadow: 0 0 1px 0 #000 inset,
              0 0 1px 0 currentColor;
}
section.disabled {
  cursor: default;
  color: var(--text-color-disabled);
}
section.disabled button {
  transition: color 0.218s ease-in-out;
}
section.disabled:hover button {
  color: var(--text-color);
}
.canvas-layer .vfi-trash-empty {
  opacity: 0;
  transition: opacity 0.218s ease-in-out;
}
.canvas-layer:hover .vfi-trash-empty {
  opacity: 1;
}
header h3,
header h5 {
  margin: 0;
  font-weight: 400;
  padding: var(--spacing);
}
header h3 {
  cursor: pointer;
}
header > .column.no-grow {
  padding: 0;
}
header h3 {
  flex-grow: 2;
}

.object-prop {}

.prop-name {
  width: 120px;}

.prop-value {
  width: 100px;
}
.prop-value input {
  margin: auto;
  max-width: 100%;
}
.prop-toggle-btn {
  width: 100%;
}

.result-dot,
.result-dot:empty,
.signal-color .result-color {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  overflow: hidden;
  text-align: center;
}
.result-dot {
  border-radius: 100%;
  color: var(--text-color-contrast);
}
.result-dot.active {
  background-color: var(--info-color);
}

.signal-beat .detector {
  padding: var(--spacing);
}
.signal-beat .detector button {
  padding: 1rem;
  width: 10vmax;
  height: 10vmax;
  margin: var(--spacing) auto;
  display: block;
  text-align: center;
  border-radius: var(--spacing);
  background-color: var(--info-color);
  color: var(--text-color-alt);
}

.control-screen {
  border: none;
}
/*
.controller .screen {
  background: url(bgk-pattern.png) repeat;
}
*/
.timeline {
  min-height: 100px;
  height: 100%;
}
.timeline .canvas-wrapper {
  position: relative;
}
.timeline canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.timeline-graph {
  background-color: #000;
}

.suggestion-view {
  position: absolute;
  overflow: auto;
  background: var(--bg-color);
  list-style: none;
  overflow: auto;
  z-index: 1000;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 2px #000;
  max-height: 50vh;
}
.suggestion-view li {
  padding: var(--spacing);
  cursor: pointer;
  text-align: inherit;
}
.suggestion-view li:hover {
  color: var(--highlight-color);
}
.suggestion-view li.active {
  background-color: var(--highlight-color);
}
.suggestion-view li.active:hover {
  color: var(--text-color);
}

/*
UI state
*/
.focused {}

.highlighted {
  background-color: var(--highlight-color);
}

.dependency {}
.dependent {}

/*
.mappings-view
*/
.mappings-view {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.mappings-view header,
.mappings-view .items {
  flex-grow: 0;
}

.mappings-view .emitter-name {
  width: 120px;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mappings-view .items {
  overflow-y: auto;
}

.mapping-emitter-view .items {
  margin: 0 calc(var(--spacing) * 2);
  border: 1px solid var(--text-color-disabled);
  border-width: 0 1px;
  padding: 0 var(--spacing) var(--spacing) var(--spacing);
}
.mapping-emitter-view .items:empty {
  display: none;
}

/*
details
*/
.details.row {
  max-height: 35vh;
  overflow-y: auto;
}

/*
SVG layer
*/
.layer-svg > svg {
  max-width: 100%;
  max-height: 100%;
}

/*
browser support
*/
.browser-support {
  max-width: 550px;
  padding: 1em;
  margin: 1em auto;
  background: var(--value-color);
  color: var(--text-color-disabled);
}
.browser-support ul {
  margin-top: 0;
}
.browser-support:empty {
  display: none;
}

/*******************\
 *                 *
\*******************/
.screen {
  background-color: #000;
  margin: auto;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.screen > * {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  will-change: opacity, transformation;
}