.sidebar {
  min-width: 250px;
  max-width: 75%;
}

.controlDisplay {
  background: #000;
  width: 100%;
  aspect-ratio: var(--control-display-aspect-ratio, 3 / 2);
}

.editorContainer {
  flex-grow: 1;
}

.errorMessage {
  background: #ffebee;
  color: #c62828;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #ef9a9a;
  text-align: center;
}
