.sidebar {
  min-width: 250px;
  max-width: 75%;
}

.controlDisplay {
  background: #000;
  width: 100%;
  aspect-ratio: var(--control-display-aspect-ratio, 3 / 2);
}

.main {
  flex-grow: 1;
  position: relative;
}

.flow {
  width: 100%;
  height: 100%;
  position: relative;
}

.editorContainer {
  inset: 5%;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.errorMessage {
  background: #ffebee;
  color: #c62828;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #ef9a9a;
  text-align: center;
}
