.root {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.info {
  padding: 0 10px;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid var(--vscode-editorWidget-border);
  & > div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 0;
  }
}

.editorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editor {
  flex-grow: 1;
}
