.filesList {
  display: flex;
  gap: var(--spacing-sm);
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-size: 0.85em;
}

.fileTypeIcon {
  width: 1lh;
  height: 1lh;
}

.filesList button {
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  border-color: rgb(from var(--color-text) r g b / 0.5);
}
.filesList button:hover {
  border-color: rgb(from var(--color-text) r g b / 0.75);
}

.fileItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.fileItem:hover {
  background-color: hsl(from var(--color) h s calc(l * 0.95));
  border-radius: 200px;
}

.fileName {
  flex-grow: 1;
}

.fileRemove {
  opacity: 0.25;
  width: auto;
  padding: var(--spacing-sm-xs);
}

.fileItem:hover .fileRemove {
  opacity: 0.75;
}

.fileItem:hover .fileRemove:hover {
  opacity: 1;
}

.attachmentPreview {
  width: 50%;
  height: 50%;
  max-width: 800px;
  max-height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background, #f0f0f0);
  border: 1px solid #ffffff66;
  flex-direction: column;
  padding: 0;
  display: none;
  &[open] {
    display: flex;
  }
  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}

.attachmentPreviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm);
  border-bottom: 1px solid #ffffff66;
}

.attachmentPreviewTitle {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.attachmentPreviewContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img,
  video,
  iframe {
    max-width: 100%;
    max-height: 100%;
    background-color: black;
    border: 1px solid var(--color-border);
  }
}
