.part {
  padding: 2px 4px;
  border-radius: 4px;
  display: block;
}

.textPart {
  /* background: blue; */
}
.reasoningPart {
  /* background: green; */
}
.toolInvocationPart {
  /* background: yellow; */
}
.mimeTypePart {
  /* background: orange; */
}
.sourcePart {
  /* background: pink; */
}
.startPart {
  /* background: purple; */
}

.sourceUrlPart {
  /* background: lightblue; */
}

.toolNamePart {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  svg {
    width: 1em;
    height: 1em;
    color: var(--vscode-editorInfo-foreground);
  }
  .error {
    color: var(--vscode-errorForeground);
  }
}
