.messages {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  overflow-y: auto;
  padding: var(--spacing-xs) var(--spacing-md);
  max-height: 400px;
}
.messages:empty {
  display: none;
}
.message {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  border-radius: var(--spacing-sm);
  background-color: var(--vscode-editorWidget-background);
  border: 1px solid var(--vscode-editorWidget-border);
}

.userRole {
  margin-left: 10%;
}
.assistantRole,
.systemRole,
.dataRole {
  margin-right: 10%;
}

.messageRole {
  font-weight: bold;
  color: var(--vscode-editorWidget-foreground);
}

.messageContent {
  color: var(--vscode-editorWidget-foreground);
}

.messageContent p {
  margin: 0;
  padding: 0;
}

.part {
  padding: 2px 4px;
  border-radius: 4px;
  display: block;
}

.textPart {
  /* background: blue; */
}
.reasoningPart {
  /* background: green; */
}
.toolInvocationPart {
  /* background: yellow; */
}
.mimeTypePart {
  /* background: orange; */
}
.sourcePart {
  /* background: pink; */
}
.startPart {
  /* background: purple; */
}

.sourceUrlPart {
  /* background: lightblue; */
}

.toolNamePart {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  svg {
    width: 1em;
    height: 1em;
    color: var(--vscode-editorInfo-foreground);
  }
  .error {
    color: var(--vscode-errorForeground);
  }
}
